# Common
.DS_Store

# Foundation
Foundation/iOS/iOS.xcodeproj/project.xcworkspace/xcuserdata
Foundation/iOS/iOS.xcodeproj/xcuserdata
Foundation/MacOS/MacOS.xcodeproj/project.xcworkspace/xcuserdata
Foundation/MacOS/MacOS.xcodeproj/xcuserdata
