# Common
.DS_Store

# Foundation
Foundation/iOS/iOS.xcodeproj/project.xcworkspace/xcuserdata
Foundation/iOS/iOS.xcodeproj/xcuserdata
Foundation/MacOS/MacOS.xcodeproj/project.xcworkspace/xcuserdata
Foundation/MacOS/MacOS.xcodeproj/xcuserdata
Foundation/WindowsClassic/.vs/
Foundation/WindowsClassic/bin/
Foundation/WindowsClassic/obj/
Foundation/WindowsClassic/WindowsClassic/.vs/
Foundation/WindowsClassic/WindowsClassic/bin/
Foundation/WindowsClassic/WindowsClassic/obj/
Foundation/WindowsClassic/Debug/
Foundation/WindowsClassic/TextEngineLibrary/Debug/
Temp/
Staging/
